.DS_Store
**/.DS_Store
.idea/
**/.idea/

# Local environment files
.env
.env.*
!.env.example
!.env.docker.example
/docs/product-image-audit-2026-05-06-after-fix.md
/docs/product-image-audit-2026-05-06.md
