POSTGRES_DB=""
POSTGRES_USER=""
POSTGRES_PASSWORD=""
POSTGRES_PORT=""
POSTGRES_HOST=""

API_BASE_URL="https://api-elixirshop.devsivanschostakov.org"
WEBSITE_IDENTITY_ENDPOINT=""
WEBSITE_IDENTITY_TIMEOUT_SECONDS=""
BITRIX_SYNC_API_ENDPOINT=""
BITRIX_SYNC_API_APP_KEY=""
BITRIX_SYNC_API_APP_SECRET=""
BITRIX_SYNC_API_TIMEOUT_SECONDS="30"

JWT_ACCESS_EXPIRE_MINUTES=""
REFRESH_TOKEN_LIFETIME_DAYS=""
JWT_ACCESS_SECRET_KEY=""
